# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env

# Build and packaging
build/
dist/
work/
logs/

# IDEs and OS
.vscode/
.github/

# Excel files
*.xlsx

# Jupyter Notebook html
*.html

# Pymc files
*.nc



# Personal files
test.*